<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body class="container">
    <%- include('../partials/nav.ejs') %>
    <div class="create-blog blog">
        <h2>Edit Page:</h2>
        <%- include('./partials/_form.ejs') %>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
