<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body class="container">
    <%- include('../partials/nav.ejs') %>
    <h2>About Page</h2>
    <div class="about-page blog">
        <div class="left-side">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ut, necessitatibus corporis voluptatibus natus, sit id a cumque eligendi sed veritatis quo ipsum. Eaque, officia doloremque debitis molestiae perferendis aliquid corrupti deleniti soluta quod maxime. Ducimus excepturi iure hic unde. Impedit rem recusandae asperiores quasi vel velit cum ratione odit laborum consequuntur ipsum omnis magni veniam maiores, illum distinctio aliquam! Id temporibus quisquam modi accusantium ea assumenda molestiae hic nisi ullam laborum? Facere dignissimos ad omnis, sapiente aliquam nulla expedita.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores mollitia dicta inventore aliquid a assumenda debitis similique id voluptates sunt amet, ab blanditiis minus quasi consequuntur eveniet dolore sit. Ipsum aperiam quod, minus eligendi cumque placeat itaque quidem temporibus nostrum id laboriosam neque quasi quibusdam sint quisquam voluptatem modi asperiores? Cum ipsum, exercitationem et voluptatum atque at porro velit cumque dignissimos, tempore dolor quaerat commodi expedita unde officia tenetur. Culpa, molestiae placeat? Placeat adipisci incidunt blanditiis ea, inventore perspiciatis fugiat.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ipsa distinctio placeat voluptates impedit temporibus eveniet blanditiis asperiores atque architecto dolorem culpa vero sed ducimus, dignissimos rem dicta praesentium delectus iste repudiandae sapiente. Dolor autem voluptatibus natus alias quisquam non!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolorum incidunt sed. Officia quo perspiciatis explicabo ab eaque qui dolorem dolores sed temporibus corporis magnam doloremque, deserunt, dolorum, inventore aperiam! Voluptatem, molestias. Libero blanditiis soluta distinctio deleniti quaerat placeat ratione molestiae, nihil sunt beatae officia culpa error possimus optio sit consequuntur facilis eum ex! Sunt voluptas vero cum adipisci fuga iure, dolor, suscipit, veniam optio quas deserunt quam debitis quis aspernatur nesciunt unde. Earum sit minus fuga eius doloremque quae nostrum, impedit consequuntur voluptatem repellat possimus ipsum iure maxime totam maiores unde id tenetur delectus? Exercitationem explicabo possimus neque iure?
            </p>
        </div>
        <div class="right-side">
            <img src="/assets/img/2.png" alt="about-page-image">
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
