<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body class="container">
    <%- include('./partials/nav.ejs') %>
    <div class="home-page blog">
        <h2>Home Page</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ut, necessitatibus corporis voluptatibus natus, sit id a cumque eligendi sed veritatis quo ipsum. Eaque, officia doloremque debitis molestiae perferendis aliquid corrupti deleniti soluta quod maxime. Ducimus excepturi iure hic unde. Impedit rem recusandae asperiores quasi vel velit cum ratione odit laborum consequuntur ipsum omnis magni veniam maiores, illum distinctio aliquam! Id temporibus quisquam modi accusantium ea assumenda molestiae hic nisi ullam laborum? Facere dignissimos ad omnis, sapiente aliquam nulla expedita.
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
